:root {
  --color-black: #000000;
  --color-black-background: #0f0f0f;
  --color-black-accent: #1f1f1f;
  --color-light-black: #191b1c;
  --color-gray: #969696;
  --color-light-gray: #d0d0d0;
  --color-white: #ffffff;
}

$bp-desktop: 1920px;
$bp-macBook: 1440px;
$bp-iPad: 1024px;
$bp-iPad-mini: 768px;
$bp-Mobile: 375px;
