.last-line {
  width: 100%;
  height: 50px;
  background-color: var(--color-black);
  color: var(--color-light-gray);
  font-size: 0.75rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    text-decoration: underline;
    color: var(--color-light-gray);
  }
}
